google-api-python-client
streamlit

streamlit as st
re
nltk
TextBlob
matplotlib.pyplot as plt
googleapiclient.discovery 
build

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
